*{
    margin:0;
    font-family: Arial;
    border: border-box;    /*jitni b padding ya border width add hui h vo element k ht. n wt. me include ho jaaye*/

}
.nav-bar{
    height: 60px;
    background-color: #dee4e4;
    color: rgb(14, 13, 13);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*box-1*/
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("logo.png");
    background-size: cover;
    height: 50px;
    width:100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid rgb(44, 42, 42);
}

/*box-2*/
.add-first{
    color: #2c1e1e;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    color: #0c0b0b;
    font-size: 1rem;
    margin-left:3px;
}
.add-icon{
    display: flex;
    align-items: center;

}
/*box-3*/
.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color: #febd68;
    width: 620px;
    height: 40px;
    border-radius:3px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    border-top-left-radius:3px;
    border-bottom-left-radius: 3px;
    background-color: #868484;
    width: 50px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem
}
/*box-4,5*/
span{
    font-size: 0.80rem;
}
.nav-second{
    font-size: 0.85 rem;
    font-weight: 700;
}
/*box-6*/
.nav-cart{
    display: flex;
    font-size: 0.85rem;
    font-weight: 600;
}
.nav-cart i{
    font-size: 30px;
}

/*next-apnel*/
.panel{
    background-color: rgb(12, 12, 53);
    height: 40px;
    align-items: center;
    display: flex;
    align-items: center;
}
.panel-all{
    display: flex;
    color: white;
    margin-right: 50px;
    margin-left: 70px;
}
.panel-ops{
    display: flex;
    width: 70%;
    color: white;
}
.p-1{
    margin-right: 15px;
}
.p-2{
    margin-right: 15px;
}
.p-3{
    margin-right: 15px;
}
.p-4{
    margin-right: 15px;
}
.p-5{
    margin-right: 15px;
}
.border1{
    border: 2px solid transparent;
}
.border1:hover{
    border: 2px solid rgb(255, 255, 255);
}

/*hero-section*/
.hero-section{
    background-image: url("hero_image.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.kuch{
    background-color: white;
    color: rgb(1, 1, 26);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.kuch a{
    text-decoration: none;
    color: rgb(25, 88, 75);
}

/*shop-section*/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(228, 182, 190);
}
.box{
    height: 300px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.image{
    height: 300px;
    margin-top: 15px;
    margin-bottom: 20px;

}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}